@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic);

body {
	background-color: #ffffff;
	margin: 0;
	color: #000000;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
	width: 100%;
}

.right {
	float: right;
}

/* Header styling */

header {
	display: block;
	position: relative;
	margin: 0 auto;
	background: url('../image/slide1.jpg') center no-repeat;
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	width: 100%;
	height: 765px;
	z-index: 2700;
}

header div {
	width: 940px;
	margin: 0 auto;
}

header p {
	display: inline-block;
}

header div a.right {
	margin-top: 16px;
	border-bottom: 1px dashed #ffffff;
	padding-bottom: 4px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;

}

.logo {
	display: block;
	margin: 0 auto;
	width: 112px;
	height: 76px;
	background-image: url('../image/miami_logo.png');
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* Navigation styling */

nav, div.nav {
	display: block;
	position: fixed;
	width: 100%;
	bottom: -6px;
	
}

nav div, div.nav div {
	position: relative;
	width: 940px;
	margin: 0 auto;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}

.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

nav a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #000;
}

.nav {
	z-index: 3000;
}

nav {
	background-color: #eeeeee;
	z-index: 2500;
}

nav a, .nav a {
	text-decoration: none;
	vertical-align: top;
	display: inline-block;
	text-transform: uppercase;
	padding-top: 16px;
}

.nav a {
	color: #ffffff;
}

nav a:hover, .nav a:hover {
	color: #00aaef;
}

nav a:first-child, div.nav a:first-child {
	padding-left: 10px;
}

nav a.last, div.nav a.last {
	padding-right: 10px;
}

/* Styling content which is segmented to sections */

section {
	display: block;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
}


section h2 {
	margin: 140px 0 0 0;
	-webkit-margin-after: 0;
	font-weight: 300;
	font-size: 48px;
	text-transform: uppercase;
}

section strong {
	font-weight: 500;
}

.content {
	width: 940px;
	margin: 0 auto;
}

/* Styling of Intro section */

#intro h2 {
	display: inline-block;
	width: 330px;
}

#intro h2 span {
	color: #00aaef;
}

#intro div.right {
	margin-top: 140px;
	width: 550px;
}

#intro ol {
	width: 460px;
	margin: 50px 0;
}

#intro div.right strong {
	display: block;
}

/* Styling of Gallery section */

#gallery, #testimonials {
	background-color: #eeeeee;
}

#gallery h2, #consultation h2, #testimonials h2, #contact h2 {
	text-align: center;
	position: relative;
	top: -28px;
	padding-bottom: 20px;
}

#gallery h2 {
	background: url('../image/gallery_line.png') bottom no-repeat;
	margin-bottom: 50px;
}

#gallery p {
	padding-bottom: 20px;
	font-weight: 500;
}

#gallery p a {
	text-decoration: none;
	font-weight: 400;
	color: #00aaef;
}

#gallery button {
	margin: 0 auto 110px auto;
	width: 190px;
	background-color: #00aaef;
	text-transform: uppercase;
	font-weight: 500;
	color: #ffffff;
}

/* Styling of Consultation section with form styling included */

#consultation h2 {
	letter-spacing: -0.03em;
	background: url('../image/consultation_line.png') bottom no-repeat;
	margin-top: 0;
	margin-bottom: 105px;
}

#consultation div div.text {
	display: inline-block;
	width: 450px;
}

section#consultation h3 {
	display: block;
	margin-top: 0;
	width: 400px;
	font-size: 32px;
	font-weight: 400;
}

form input, textarea, button {
	display: block;
	width: 380px;
	height: 52px;
	margin-bottom: 14px;
	padding: 0;
	border: none;
	text-align: center;
	background-color: #eeeeee;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}

form textarea {
	padding-top: 14px;
	height: 166px;
}

form button {
	background-color: #00aaef;
	color: #ffffff;
	font-weight: 500;
}


#send, #send-email {
	display: block;
	width: 380px;
	margin-bottom: 140px;
}

/* Styling of Testimonials section */

#testimonials div.content {
	padding-bottom: 120px;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}

#testimonials h2 {
	background: url('../image/testimonials_line.png') bottom no-repeat;
	margin-bottom: 45px;
}

#testimonials div div {
	display: inline-block;
	vertical-align: top;
	width: 280px;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.quote {
	display: block;
	position: relative;
	top: 80px;
	left: 36px;
	margin: 0;
	width: 35px;
	height: 30px;
	background-image: url('../image/q.png');
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#testimonials img, #testimonials strong, em, blockquote {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#testimonials strong {
	margin-top: 14px;
	font-weight: 700;
}

#testimonials em {
	margin-top: 10px;
	margin-bottom: 40px;
	font-style: italic;
	font-weight: 300;
}

/* Styling of Contact section, included form is already styled at Consultation section */

#contact h2 {
	background: url('../image/contact_line.png') bottom no-repeat;
	margin-top: 0;
	margin-bottom: 65px;
}

address {
	display: inline-block;
	font-weight: 400;
	font-size: 24px;
	font-style: normal;
}

/* Styling of Footer */

footer {
	position: absolute;
	width: 100%;
	height: 540px;
	background: url('../image/footer.jpg') center no-repeat;
	background-size: cover;
}

.center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
