@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic);

body {
	background-color: #ffffff;
	margin: 0;
	color: #000000;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
	width: 100%;
}

.right {
	float: right;
}

header {
	display: block;
	margin: 0 auto;
	background-image: url('../image/slide1.jpg');
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	width: 100%;
	height: 765px;
}

header div {
	width: 940px;
	margin: 0 auto;
}

header p {
	display: inline-block;
}

header p.right {
	border-bottom: 1px dashed #ffffff;
	padding-bottom: 4px;
}

.logo {
	display: block;
	margin: 0 auto;
	width: 112px;
	height: 76px;
	background-image: url('../image/miami_logo.png');
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

nav {
	display: block;
	position: relative;
	width: 940px;
	margin: 0 auto;
	bottom: -540px;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}

nav a {
	text-decoration: none;
	color: #ffffff;
	vertical-align: top;
	display: inline-block;
	text-transform: uppercase;
}

nav a:hover {
	color: #00aaef;
}

nav a:first-child {
	padding-left: 10px;
}

nav a.last {
	padding-right: 10px;
}

nav .stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

section {
	display: block;
	margin: 140px 0 0 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

section h2 {
	margin: 0;
	margin-after: 0;
	-webkit-margin-after: 0;
	font-weight: 300;
	font-size: 48px;
	text-transform: uppercase;
}

section strong {
	font-weight: 500;
}

.container {
	width: 940px;
	margin: 0 auto;
}

#intro h2 {
	display: inline-block;
	width: 330px;
	margin: 0;
}

#intro h2 span {
	color: #00aaef;
}

#intro div.right {
	width: 550px;
}

#intro ol {
	width: 460px;
	margin: 50px 0;
}

#intro div.right strong {
	display: block;
}

#gallery {
	background-color: #eeeeee;
}

#gallery h2, #consultation h2 {
	text-align: center;
	position: relative;
	top: -28px;
	padding-bottom: 20px;
}

#gallery h2 {
	background: url('../image/gallery_line.png') bottom no-repeat;
	margin-bottom: 65px;
}

#gallery p {
	padding-bottom: 20px;
	font-weight: 500;
}

#gallery p span {
	font-weight: 400;
	color: #00aaef;
}

#gallery .button {
	margin-bottom: 110px;
}


div.button {
	margin: 0 auto;
	width: 190px;
	background-color: #00aaef;
}

.button span {
	display: block;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	padding: 20px 0 20px 0;
	color: #ffffff;
}

#consultation {
	margin: 0;
}

#consultation h2 {
	letter-spacing: -0.03em;
	background: url('../image/consultation_line.png') bottom no-repeat;
	margin-bottom: 105px;
}

#consultation div div.text {
	display: inline-block;
	width: 450px;
}

section#consultation h3 {
	display: block;
	margin-top: 0;
	width: 400px;
	font-size: 32px;
	font-weight: 400;
}

#consultation form input {
	display: block;
	width: 380px;
	height: 52px;
	margin-bottom: 14px;
	text-align: center;
	background-color: #eeeeee;
	font-size: 14px;
	font-weight: 500;
}

div#send {
	display: block;
	width: 380px;
	margin-bottom: 140px;
}